@model RazorApp.TH.Model.Check.Data

    <h3>Resultado das validações</h3>

    <table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-d3e681d ea-advanced-data-table-sortablex font-size-th" data-id="d3e681d">
        <thead>
            <tr>
                <th>
                    <p>CONSULTA</p>
                </th>
                <th>
                    <p>RESULTADO</p>
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model.NOME != null)
            {
                <tr>
                    <td>
                        <p>Nome</p>
                    </td>
                    <td>
                        <p>@Model.NOME.CODSTATUS - @Model.NOME.MSGSTATUS</p>
                    </td>
                </tr>
            }
            @if (Model.NASC != null)
            {
                <tr>
                    <td>
                        <p>Nascimento</p>
                    </td>
                    <td>
                        <p>@Model.NASC.CODSTATUS - @Model.NASC.MSGSTATUS</p>
                    </td>
                </tr>
            }

            @if (Model.FONE != null)
            {
                <tr>
                    <td>
                        <p>Telefone</p>
                    </td>
                    <td>
                        <p>@Model.FONE.CODSTATUS - @Model.FONE.MSGSTATUS</p>
                    </td>
                </tr>
            }

            @if (Model.EMAIL != null)
            {
                <tr>
                    <td>
                        <p>E-Mail</p>
                    </td>
                    <td>
                        <p>@Model.EMAIL.CODSTATUS - @Model.EMAIL.MSGSTATUS</p>
                    </td>
                </tr>
            }

            @if (Model.NOMEADC != null)
            {
                <tr>
                    <td>
                        <p>Nome Adicional</p>
                    </td>
                    <td>
                        <p>@Model.NOMEADC.CODSTATUS - @Model.NOMEADC.MSGSTATUS</p>
                    </td>
                </tr>
            }

            @if (Model.MAE != null)
            {
                <tr>
                    <td>
                        <p>Nome mãe</p>
                    </td>
                    <td>
                        <p>@Model.MAE.CODSTATUS - @Model.MAE.MSGSTATUS</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>