@model RazorAppTH.Model.Check.CAD


<h3>Dados obtidos na Receita Federal</h3>


<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-d3e681d ea-advanced-data-table-sortablex" data-id="d3e681d">
    <thead>
        <tr>
            <th>
                <p>DADO</p>
            </th>
            <th>
                <p>RESULTADO</p>
            </th>
        </tr>
    </thead>

    <tbody>
        @if(Model.NOME != null)
        {
            <tr>
                <td>
                    <p>Nome</p>
                </td>
                <td>
                    <p>@Model.NOME</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Situação</p>
                </td>
                <td>
                    <p>@Model.SITUACAO</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Nascimento</p>
                </td>
                <td>
                    <p>@Model.NASCIMENTO</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Status</p>
                </td>
                <td>
                    <p>@Model.STATUS.CODSTATUS - @Model.STATUS.MSGSTATUS</p>
                </td>
            </tr>
        }

    </tbody>
</table>

@*<p>
    <span style="color: #808080;">
        <strong>Nome:</strong>
    </span>
    @Model.NOME
    <br>
    <span style="color: #808080;">
        <strong>Situação:</strong>
    </span>@Model.SITUACAO<br>
    <span style="color: #808080;">
        <strong>Nascimento</strong>
    </span>: @Model.NASCIMENTO<br>
    <span style="color: #808080;">
        <strong>Status:</strong>
    </span>
</p>

<p>&nbsp;</p>*@