@model RazorAppTH.Model.Info.Data

<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-d2295e9" data-id="d2295e9" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-d8c5520 elementor-view-default elementor-widget elementor-widget-icon" data-id="d8c5520" data-element_type="widget" data-widget_type="icon.default">
            <div class="elementor-widget-container">
                <div class="elementor-icon-wrapper">
                    <div class="elementor-icon"><i aria-hidden="true" class="@Model.UrlIcone"></i>			</div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-e9e650a elementor-widget elementor-widget-mf-checkbox" data-id="e9e650a" data-element_type="widget" data-settings="{&amp;quot;mf_input_name&amp;quot;:&amp;quot;mf-checkbox&amp;quot;}" data-widget_type="mf-checkbox.default">
            <div class="elementor-widget-container">
                <div class="mf-input-wrapper">
                    <div class="mf-checkbox multi-option-input-type" id="mf-input-checkbox-e9e650a">
                        <div class="mf-checkbox-option">
                            <label>
                                <input  type="checkbox"
                                        class="mf-input mf-checkbox-input"
                                        name="Modulo"
                                        data-checked=""
                                        aria-invalid="false"
                                        value="@Model.Modulo"
                                        attr-obrigatorio="@Model.Obrigatorio"
                                        attr-descricao="@Model.Descricao">
                                <span></span>



                                 
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-be05304 elementor-widget elementor-widget-text-editor" data-id="be05304" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
                <p style="text-align: center;">@Model.Modulo</p>
            </div>
        </div>
    </div>
</div>
